html {
  scrollbar-width: none;       /* Firefox */
  -ms-overflow-style: none;    /* Edge lama / IE */
}

html::-webkit-scrollbar {
  display: none;                /* Chrome, Safari, Edge (Chromium) */
}

body {
  overflow-x: hidden;
}